{% extends "layout.html" %}

{% block title %}
Your Books
{% endblock %}

{% block body %}
<h1>Your reviews</h1>
<table>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Date Added</th>
    </tr>
    {% for your_book in your_books %}
    <tr>
        <td><a href="{{ url_for('book', book=your_book, isbn=your_book.isbn) }}">{{ your_book.title }}</a></td>
        <td>{{ your_book.author }}</td>
        <td>{{ your_book.date.strftime('%b %d, %Y') }}</td>
    </tr>
    {% endfor %}

</table>
{% endblock %}